
.box.wide {
    -webkit-border-radius: 8px 0px 8px 8px !important;
    -moz-border-radius: 8px 0px 8px 8px !important;
    border-radius: 8px 0px 8px 8px !important;
    background-image: -webkit-linear-gradient(left, #DDD 0px, #DDD 50px, #AAA 55px, #FFF 56px, #FFF 100%);
    background-image: -moz-linear-gradient(left, #DDD 0px, #DDD 50px, #AAA 55px, #FFF 56px, #FFF 100%);
    background-image: -ms-linear-gradient(left, #DDD 0px, #DDD 50px, #AAA 55px, #FFF 56px, #FFF 100%);
    background-image: linear-gradient(left, #DDD 0px, #DDD 50px, #AAA 55px, #FFF 56px, #FFF 100%);
}

.box.wide table hr {
    margin-left: 56px;
}

.box.wide {
    padding-left: 0px;
    padding-right: 0px;
}

table.scheduler {
    width: 100%;
    table-layout: fixed;
}

table.scheduler tr td:first-child,
table.scheduler col.segment {
    width: 56px;
    text-align: center;
}

#scheduler5 {
    display: none;
}
