
div.box.schedules,
form.box.schedules {
    width: 576px;
}

table.box.schedules {
    width: 600px;
    table-layout: auto;
    border-collapse: collapse;
}

table.box.schedules tr {
    border-bottom: 1px solid gray;
}

table.box.schedules tr td {
    padding: 2px 6px;
}

#workouts div {
    margin: 4px auto;
    padding: 2px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#trash {
    float: right;
}

.event_calendar {
    height: 20px;
}

.workout {
    display: block;
    overflow: auto;
    background: lightgray;
    padding: 12px 4px;
    margin: 1px;
    font-size: 8pt;
    border-radius: 3px;
    border-right: 3px solid #339966;
    overflow: hidden;
}

.eventitem {
    display: block;
    overflow: auto;
    background: lightgray;
    padding: 4px;
    margin: 1px;
    font-size: 8pt;
    border-radius: 3px;
    border-right: 3px solid #339966;
    overflow: hidden;
    height: 10px;
}

.week5 .workout {
    height: 50px;
    overflow: hidden;
}

#workouts .workout {
    height: 15px;
}

.week5.box-strapper .box.blue {
    height: 69px;
}

.box-strapper .box.blue h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.box.summary {
    font-size: 14px;
    text-align: left;
}

.week5.box-strapper td.day {
    height: 84px;
}

.workout.ui-draggable-dragging { 
    width: 96px;
}

.week td {
    height: 48px;
    vertical-align: middle;
}

.summary {
    text-align: center;
}

.box-strapper.week5 {
    width: 48.9%;
    float: left;
}

.box-strapper.week5.planning {
    margin-right: 20px;
}

.calendar-main {
    float: left; 
    width: 960px; 
}

.calendar-main.week5 {
    float: left; 
    width: 990px; 
}

.planner .event_calendar {
    display: none;
}