
html {
    font-family: 'Arial', sans-serif;
    overflow-y: scroll;
    min-height: 100%;
}

body {
    min-height: 100%;
    background: #226699; /* old browsers */
    background: -moz-radial-gradient(center top, circle, #226699 0px, #003366 960px); /* firefox */
    background: -webkit-gradient(radial, center top, 0, center top, 960, from(#226699), to(#003366)); /* webkit */
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    margin: 4px 0px;
}

h2 {
    color: #003366;
}

p {
    text-align: left;
    margin: 12px 0px;
    color: #262626;
}

table {
    color: #262626;
}

hr {
    border: 1px solid gray;
    border-bottom: none;
}

table hr {
    margin: 0px;
}

a {
    cursor: pointer;
}

a:active {
    outline: none !important;
}

a img {
    border: none;
}

textarea {
    width: 512px;
}

fieldset {
    position: relative;
    background-color: #f3f3f3;
    border: 1px solid #999999;
    border-radius: 6px;
    padding-top: 20px;
    margin: 4px 0px 12px;
}

body:-moz-last-node fieldset legend {
    top: -20px;
}

fieldset legend {
    top: 0px;
    font-size: 9pt;
    position: absolute;
    padding: 2px 6px;
    color: #333333;
    background-color: #cccccc;
    border: 1px solid #999999;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 4px white;
}

tr.disabled td {
    background: #cccccc;
    color: #666666;
}

tr.disabled td img {
    opacity: 0.65;
}

#logo {
    padding-left: 24px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 10pt;
}

#logo div {
    overflow: auto;
    margin-bottom: 64px;
}

#logo div tt {
    display: block;
    float: left;
    background-color: #f7931e;
    width: 50px;
    height: 8px;
    margin: 4px;
}


#top,
#site,
#bot table {
    margin-left: 20px;
    width: 1037px;
    padding: 8px 0px;
}

#top {
    position: relative;
    height: 44px;
}

#top #links {
    position: absolute;
    bottom: 8px;
    left: 340px;
    right: 24px;
    top: 0px;
    padding: 4px 12px;
    font-size: 12pt;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 0px 6px black;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#cccccc 100%);
}

#top #links a {
    color: #323232;
    text-shadow: 1px 1px 0px white;
    text-decoration: none;
}

#top #links img {
    vertical-align: middle;
    padding: 0px 4px;
}

#site {
    overflow: visible;
    min-height: 558px;
    width: 1196px;
}

#bot {
    height: 96px;
    padding: 0px;
    padding-top: 4px;
    background-image: url(/assets/images/bot.png);
    background-repeat: repeat-x;
}

#bot table {
    color: #acacac;
    text-align: center;
    text-shadow: 0px 0px 4px #333333;
}

#bot table a {
    color: #acacac;
    text-decoration: none;
    font-size: 16pt;
}

#bot table a span {
    font-size: 12pt;
}

table.box {
    width: 100%;
    table-layout: fixed;
}

.box {
    overflow: hidden;
    background-color: #f7f7f7;
    color: black;
    border: none;
    padding: 12px;
    margin: 8px 0px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0px 1px 3px #333;
    -moz-box-shadow: 0px 1px 3px #333;
    -webkit-box-shadow: 0px 1px 3px #333;
}

.box.blue {
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #113366;
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
}

.box.blue p {
    color: #D9D9D9;
}

.box.blue .box p {
    color: black;
}

.box.blue + .box,
.box.blue + .box.blue + .box,
.box.blue + .box.blue + .box + .box,
.box.blue + .box.blue + .box.blue + .box + .box + .box {
    margin-top: 0px;
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
}

.box.blue + .box.blue,
.box.blue + .box.blue + .box.blue {
    margin-top: 8px;
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
}

.box.left {
    float: left;
    clear: left;
    width: 532px;
}

.box.right {
    float: right;
    clear: right;
    width: 192px;
}

.box .col2 {
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
    column-gap: 32px;
    -moz-column-gap: 32px;
    -webkit-column-gap: 32px;
}

.half {
    width: 50%;
    float: left;
}

.third {
    width: 33%;
    float: left;
}

.maincol {
    margin-right: 19px;
    width: 68%;
    float: left;
}

.rightcol {
    width: 30%;
    float: right;
}

.box.half {
    width: 450px;
    margin-right: 6px;
}

.box.half + .box.half {
    margin-right: 0px;
    margin-left: 6px;
}

.box.half + .box.half + .box.half {
    margin-right: 6px;
    margin-left: 0px;
}

.box.half + .box.half + .box.half + .box.half {
    margin-right: 0px;
    margin-left: 6px;
}

.box.third,
.box.third + .box.third + .box.third + .box.third {
    width: 284px;
    margin-left: 0px;
    margin-right: 6px;
}

.box.third + .box.third,
.box.third + .box.third + .box.third + .box.third + .box.third {
    margin-right: 6px;
    margin-left: 6px;
}

.box.third + .box.third + .box.third,
.box.third + .box.third + .box.third + .box.third + .box.third + .box.third {
    margin-right: 0px;
    margin-left: 6px;
}

.add {
    padding: 16px;
    border-radius: 8px;
    background-color: lightgray;
    text-align: center;
    width: 256px;
    margin: 4px auto;
}

.add img {
    vertical-align: -8px;
    padding: 0px 12px;
}

.ui-draggable {
    cursor: move;
}

a.activity {
    border: 3px solid #fdd57a;
    padding: 2px 10px;
    color: white !important;
    text-shadow: none !important;
    font-weight: bold;
    border-radius: 16px;
    background: #ffc133;
    background: -moz-linear-gradient(top, #ffc133 0%, #ffa533 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc133), color-stop(100%,#ffa533));
    background: -webkit-linear-gradient(top, #ffc133 0%,#ffa533 100%);
    background: -o-linear-gradient(top, #ffc133 0%,#ffa533 100%);
    background: -ms-linear-gradient(top, #ffc133 0%,#ffa533 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc133', endColorstr='#ffa533',GradientType=0 );
    background: linear-gradient(top, #ffc133 0%,#ffa533 100%);
    position: relative;
    top: 10px;
    margin-right: 8px;
}

.day.add-training {
    cursor: pointer;
}

.day.add-training:hover {
    background-image: url(/assets/images/add.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.box.schedules .inactive {
    color: red;
}

.search form {
    margin-bottom: 0px;
}

.favourites td, tr.searchresult td {
    font-size: 13px;
}

.error_message {
    color: red;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.group-header-toggle {
    float: right; 
    margin-right: 7px; 
    margin-top: 4px
}

#sort_groups tr.sortable {
    cursor: move;
}

#sort_workouts tr.sortable {
    cursor: move;
}

.movedownlink, .moveuplink {
    cursor: pointer;
}