/*  MOBILE  */

body {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 20px;
}

h1 {
    font-size: 2em; 
}

.box-strapper .box.blue h1 {
    font-size: 18px;
}

h2 {
    line-height: 28px;
}

#links .activity {
    display: none;
}

#logo {
    padding-left: 0px;
    margin-top: 55px;
}

#site, #top {
    width: 80%;
}

.calendar-main {
    margin-left: 0px;
    width: 100%;
}

#top {
    padding: 10px;
    position: inherit;
    display: block;
}

#top #links {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 30px;
    padding: 4px 3%;
}

.box-strapper.week5 {
    width: 100%;
}

.calendar-main.week5 {
    margin-left: 0px;
    width: 100%;
    float: none;
}

.box-strapper.week5 {
    float: none;
}

.calendar-meta {
    margin-left: 0px;
}

#top, #site, #bot table {
    padding: 0;
    width: 99%;
    margin: 0 auto;
}

a.activity {
    top: 0;
    text-decoration: none;
}

.ui-dialog {
    width: 95% !important;
}

.result p input[type="text"], .result p textarea {
    width: 100%;
}

.button.perform, .button.reject, .button,accept {
    margin: 0 !important;
}

.button {
    padding: 12px 24px;
}

.result p.s4 {
    width: 100%;
}

#overview, #pass, .sep, #calendar, #chat, #profile {
    display: none;
}

#links .floatright {
    float: none;
}

.home .half {
    float: none;
    width: 100%;
    text-align: center;
}

.home .half #btnlogin {
    margin-top: 20px;
    margin-left: 0px;
}

.home .half input[type="text"], input[type="password"], #pickdate {
    margin-left: 0px;
    font-size: 16px;
    
}

input[type="button"], input[type="submit"] {
    min-width: 44px;
    min-height: 30px;
    margin: 10px;
}

.button {
    
}

input[type="text"] {
    -webkit-text-stroke-width: none !important;
}

#homelogo {
    margin-left: 20px;
}

.home .line {
    margin-bottom: 0px;
}

.home .footer {
    margin-top: 20px;
}

.home #mid {
    width: 100%;
}

.home .box {
    margin: 20px auto;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 20px;
    margin: -17px -3px 0;
    padding: 16px;
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 20px;
}

.tabs a {
    padding: 4px 9px;
    margin-left: 5px;
}

.result fieldset p select, .result fieldset p input {
    height: auto;
}

.result fieldset p input.time {
    width: 44px !important;
}

fieldset legend {
    padding: 10px 5px;
}

